{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> Based on available state-level data, an estimated 984,000 abortions took place in 2013—down from an estimated 1.02 million abortions in 2012.   17 states (AK, AZ, CA, CT, HI, IL, MA, MD, MN, MT, NJ, NM, NY, OR, VT, WA and WV) use public funds to pay for abortions for some poor women. About 14% of all abortions in the United States are paid for with public funds—virtually all from the state (AGI). </p>
        </div>
    </body>
</html>