{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> 
                The death penalty in America is a broken process from start to finish. Death sentences are predicted not by the heinousness of the crime but by the poor quality of the defense lawyers, the race of the accused or the victim, and the county and state in which the crime occurred. From 1976 to 2015, 1,392 executions occurred in the United States, and 995 of them took place in the South. Time and time again, we have proven that the criminal justice system fails to protect the innocent and persons with serious mental disabilities and illnesses from execution. Even the administration of executions is utterly flawed: Every method of execution comes with an intolerably high risk of extreme pain and torture.
            </p>
        </div>
    </body>
</html>