{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> More than $1.2 trillion in outstanding student loan debt, 40 million borrowers, an average balance of $29,000.
            Nearly one in three Americans who are now having to pay down their student debt–or a staggering 31.5%–are at least a month behind on their payments, new research from the Federal Reserve Bank of St. Louis suggests. That figure is far higher than official delinquency measures reported by the Education Department and the New York Fed. And it’s also likely the most accurate. </p>
        </div>
    </body>
</html>