{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> When asked whether global warming is happening or not, 56 percent of adults say it is, 20 percent say it is not, and 23 percent say they are unsure. Belief in global warming falls largely along party and ideological lines. Democrats are nearly twice as likely as Republicans to say global warming is happening (73 percent vs. 39 percent), and 4 in 5 liberals say global warming is happening, significantly more than the 61 percent of moderates and 36 percent of conservatives who say the same. </p>
        </div>
    </body>
</html>