{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> More than one-sixth of the U.S. economy is devoted to health care spending and that percentage continues to rise every year. Regrettably, our system is not delivering value commensurate with the estimated $2.7 trillion spent annually on health care. Experts agree that an estimated 20 to 30 percent of that spending – up to $800 billion a year – goes to care that is wasteful, redundant, or inefficient.  </p>
        </div>
    </body>
</html>