{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> 
            Nearly half (48.2%) of the 3 million hourly workers who were at or below the federal minimum in 2014 were ages 16 to 24. An additional 22.4% are ages 25 to 34, according to the Bureau of Labor Statistics; both shares have stayed more or less constant over the past decade. That 3 million represents about 2.3% of all wage and salary workers.
            </p>
        </div>
    </body>
</html>