{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> Immigration into the United States fluctuated throughout the 20th century because of varying economic conditions. But the changes made by the Immigration Reform and Control Act of 1986 drastically increased the number of immigrants allowed into the United States. This in turn has had a negative impact on the quality of life of many Americans today due to the mass increase in population. </p>
        </div>
    </body>
</html>