{% load staticfiles %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/stylefacts.css' %}" />

<html>

    <head> 
        <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>   
        <title> Facts </title>
    </head>

    <body>

        <div class="page-header">
            <h1> Facts </h1>
        </div>

        <div class="text">
            <p> Almost half of the 2.2 million troops deployed in Iraq and Afghanistan report difficulties on their return home, but many receive inadequate care from the US Department of Defense and Veterans Affairs.It noted that the unemployment rate among veterans aged 18-24 was over 30%, compared to 16% for civilians. </p>
        </div>
    </body>
</html>